# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Ignore the specific JSON file (consider if you want to include or exclude it)
**/assets/the-cultural-ninja-438905-faaf878b7f8a.json

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android build related
**/android/app/debug
**/android/app/profile
**/android/app/release

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# iOS related
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
flutter_export_environment.sh

# Android Studio related
local.properties

# Linux and macOS related
linux/flutter/ephemeral/
